{% extends 'base.html' %}
{% load static %}

{% block title %}Trabajos | SITAG{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'trabajos/css/lista_trabajos.css' %}">

<div class="trabajos-header"> 
  <h1>Trabajos</h1>
  <a href="{% url 'trabajos:agregar' %}" class="btn-agregar">
    <i class="fa-solid fa-file-circle-plus"></i> Agregar trabajo
  </a>
</div>

<input type="text" id="searchInput" placeholder="Buscar trabajo (Título, Descripción, Estado, Cliente)" class="input-busqueda">

<div class="tabla-wrapper">
  <table class="tabla" id="trabajosTabla">
    <thead>
      <tr>
        <th>Título</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for trabajo in trabajos %}
        <tr>
          <td>{{ trabajo.titulo }}</td>
          <td>
            {% if trabajo.cliente.tipo_cliente == 'fisica' %}
                {{ trabajo.cliente.clientefisico.nombre }} {{ trabajo.cliente.clientefisico.apellido }}
            {% else %}
                {{ trabajo.cliente.clientejuridico.razon_social }}
            {% endif %}
          </td>
          <td>{{ trabajo.estado }}</td>
          <td>
            <a href="{% url 'trabajos:editar' trabajo.id %}" class="btn-accion btn-editar">
              <i class="fa-solid fa-pen-to-square"></i> Editar
            </a>
            <a href="{% url 'trabajos:detalle' trabajo_id=trabajo.id %}" class="btn-accion btn-ver">
              <i class="fa-solid fa-eye"></i> Ver
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" style="text-align:center;">No hay trabajos cargados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{% static 'trabajos/js/lista_trabajos.js' %}"></script>
{% endblock %}
