{% extends 'base.html' %}
{% load static %}

{% block title %}Clientes | SITAG{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'clientes/css/lista_clientes.css' %}">

<div class="clientes-header">
  <h1>Clientes</h1>
  <a href="{% url 'clientes:agregar_cliente' %}" class="btn-agregar">
    <i class="fa-solid fa-user-plus"></i> Agregar Cliente
  </a>
</div>

<input type="text" id="searchInput" placeholder="Buscar cliente" class="input-busqueda">

<div class="tabla-wrapper">
  <table class="tabla" id="clientesTabla">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <!-- Nombre o Razón Social -->
          <td>
          {% if cliente.tipo_cliente == 'juridica' %}
              {{ cliente.clientejuridico.razon_social }}
          {% else %}
              {{ cliente.clientefisico.nombre }} {{ cliente.clientefisico.apellido }}
          {% endif %}

          </td>

          <td>{{ cliente.telefono|default:"-" }}</td>
          <td>{{ cliente.email|default:"-" }}</td>
          <td>{{ cliente.get_tipo_cliente_display }}</td>

      <td>
        <div class="opciones-flex">
          <a href="{% url 'clientes:editar' cliente.id %}" class="btn-accion btn-editar">
              <i class="fa-solid fa-pen-to-square"></i> Editar
          </a>

          {% if cliente.activo %}
          <a href="{% url 'clientes:ocultar' cliente.id %}"
            class="btn-accion btn-ocultar"
            onclick="return confirmarOcultar(event);">
            <i class="fa-solid fa-eye"></i> Ocultar
          </a>
          {% endif %}
        </div>
      </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" style="text-align:center;">No hay clientes cargados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a href="{% url 'clientes:clientes_ocultos' %}" class="btn-inactivos">
  Clientes ocultos
</a>

<script src="{% static 'clientes/js/lista_clientes.js' %}"></script>

{% endblock %}
