{% extends 'base.html' %}
{% load static %}

{% block title %}Clientes Ocultos | SITAG{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'clientes/css/lista_ocultos.css' %}">

<div class="clientes-header">
  <h1>Clientes ocultos</h1>
</div>

<input type="text" id="searchInput" placeholder="Buscar cliente (CUIL, Nombre, Email)" class="input-busqueda">

<div class="tabla-wrapper">
  <table class="tabla" id="clientesTabla">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td>
            {% if cliente.tipo_cliente == 'juridica' %}
                {{ cliente.razon_social|default:"Sin razón social" }}
            {% else %}
                {{ cliente.nombre }} {{ cliente.apellido }}
            {% endif %}
          </td>
          <td>{{ cliente.telefono|default:"-" }}</td>
          <td>{{ cliente.email|default:"-" }}</td>
          <td>{{ cliente.get_tipo_cliente_display }}</td>
          <td>
            <a href="{% url 'clientes:mostrar' cliente.id %}"
            class="btn-accion btn-mostrar"
            onclick="return confirmarMostrar(event);">
            <i class="fa-solid fa-eye"></i> Mostrar
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" style="text-align:center;">No hay clientes ocultos.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a href="{% url 'clientes:lista_clientes' %}" class="btn-inactivos">
  Volver a clientes activos
</a>

<script src="{% static 'clientes/js/lista_clientes.js' %}"></script>

{% endblock %}
